@using MailAutomation.Application.Common;
@{

}
@model IEnumerable<MailDto>

<div class="container my-4">
    <h2 class="mb-5">
        پیام های دریافتی
        <svg height="32" width="32" class="received-mail-color">
            <use href="/assets/images/icons/box-arrow-down.svg" width="32" height="32" />
        </svg>
    </h2>
    <div class="table-responsive my-4">
        <table class="align-items-center">
            <thead>
                <tr>
                    <th class="pb-3">فرستنده</th>

                    <th class="pb-3">
                        تاریخ
                    </th>
                    <th class="pb-3">موضوع</th>
                    <th class="pb-3">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mail in Model)
                {
                    <tr>
                        <td>
                            <p class="mb-0">@mail.SenderFirstName @mail.SenderLastName</p>
                            <p class="text-secondary mb-0">@mail.SenderUserName</p>
                        </td>
                        <td class="align-middle ">
                            <span class="text-secondary text-xs font-weight-bold">@mail.Date.ToString("yyyy/dd/MM HH:mm")</span>
                        </td>
                        <td>
                            <p class="mb-0">
                                <span class="">@mail.Title</span>
                            </p>
                            <p class="fw-light text-secondary mb-0">
                                @(mail.Body.Length > 18 ?
                                                            mail.Body.Substring(0, 18) + "..." :
                                                            mail.Body)
                        </p>
                    </td>


                        <td class="align-middle">
                            <div class="d-flex">
                                <a class="icon-box-sm me-2" asp-action="ShowMail" asp-controller="Mail" asp-route-mailId="@mail.MailId">
                                    <svg height="20" width="20" class="text-success">
                                        <use href="/assets/images/icons/eye-fill.svg" width="20" height="20" />
                                    </svg>
                                </a>

                                <a class="icon-box-sm me-2" href="#">
                                    <svg height="20" width="20" class="text-primary">
                                        <use href="/assets/images/icons/reply.svg" width="20" height="20" />
                                    </svg>
                                </a>

                                <a class="icon-box-sm" asp-action="Remove" asp-controller="Mail" asp-route-mailId="@mail.MailId">
                                    <svg height="20" width="20" class="text-danger">
                                        <use href="/assets/images/icons/trash.svg" width="20" height="20" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                                }

            </tbody>
        </table>
    </div>
</div>

